{% extends 'layout.html' %}
{% block title %}About Us{% endblock title %}

{% block body %}
<div class="container text-center">Thanks for visiting.
</div>
<div class="container text-center">
This is testing site which is created by Shubham M From Adypu If you like this website then do let me know or write down in the contact section 
</div>
<div class="container text-center">
for now, images are not visible because of some reason but you can create your account and log in to take fake admission
</div>

{% endblock body %}
